<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="login-container">
        <div class="login-box">
            <div class="logo">
                <img src="images/logologin.png" alt="Logo">
            </div>
            <h2>Sign In</h2>
            <form action="/login" method="POST"> <!-- Form mengarah ke route login -->
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required placeholder="Username">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required placeholder="Password">
                </div>
                <div class="footerlogin">
                    <p>Haven't an account? <a href="/register">Sign Up</a></p>
                    <button type="submit" class="btn center-btn">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>